<div class="container-fluid pozadina">

  <div class="row">
    <div class="col-sm-3 m-5  dugme">
      <h1>Cenovnik</h1>
      <p class="lead tekst" routerLink="/admin/noviCenovnik">Napravi novi cenovnik</p>
    </div>

    <div class="col-sm-3 m-5 dugme" >
      <h1 class="display-5">Linije voznje<br/>
          <p class="lead tekst" routerLink="/admin/editLinija">Izmeni postojecu liniju</p>
          <p class="lead tekst" routerLink="/admin/novaLinija">Napravi novu liniju</p>
      </h1>
    </div>

    <div class="col-sm-3 m-5 dugme" >
      <h1 class="display-5">Stanice<br/>
          <p class="lead tekst" routerLink="/admin/editStanica">Izmeni postojecu stanicu</p>
          <p class="lead tekst" routerLink="/admin/napraviStanicu">Napravi novu stanicu</p>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 m-5  dugme" >
      <h1 class="display-5">Korisnici</h1>
      <p class="lead tekst" routerLink="/admin/korisnici">Pregled korisnika</p>
    </div>

    <div class="col-sm-3 m-5 dugme" >
      <h1 class="display-5">Karte</h1>
      <p class="lead tekst">Pregledaj sve aktivne i neaktivne karte</p>
    </div>
  </div>

</div>