<div class="container-fluid">
  <div class="row mt-1">
    <form class="form-group form-inline shadow mt-5" [formGroup]="redVoznjeForm" (ngSubmit)="prkaziTermine()">
          <label class="mr-sm-2">Tip linije:</label>
          <select class="form-control mr-sm-5" formControlName="TipVoznje" (change)="criteriaChanged()">
            <option>Gradski</option>
            <option>Prigradski</option>
          </select>
        <label class="mr-sm-2">Dan:</label>
        <select class="form-control mr-sm-5" formControlName="Dan">
          <option>RadniDan</option>
          <option>Subota</option>
        <option>Nedelja</option>
        </select>
          <label class="mr-sm-2">Ime linije:</label>
          <select class="form-control mr-sm-5" id="ime" formControlName="Ime">
            <option *ngFor="let linija of linije">{{linija}}</option>
          </select>
        <button class="btn btn-primary" type="submit">Prikazi</button>
    </form>
  </div>
  <div class="row">
    <div class="container">
      <ul class="list-group-item-dark">
        <li class="pt-2 pb-2" *ngFor="let termin of termini">
          <span>{{termin}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>