<h2>Deaktivacija profila:</h2>
<div class="form">
  <div class="col-7">
  <form [formGroup]="deactivateForm" (ngSubmit)="onSubmit()">
    <div class="form-group">   
        <input type="password" formControlName="password" placeholder="Password" required class="form-control">
        <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="alert alert-danger">
          <ng-container *ngIf="f.password.errors.required">
            Unesite svoju lozinku da bi deaktivirali profil.
          </ng-container>
          <ng-container *ngIf="f.password.errors.minlength">
            <p>Lozinka mora sadrzati bar 6 karaktera.</p>
          </ng-container>
          <ng-container *ngIf="f.password.errors.pattern">
            <p>Lozinka mora sadrzati bar jedan broj[0-9], jedan specijalan karakter i bar jedno veliko slovo[A-Z].</p>
          </ng-container>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="deactivateForm.invalid" style="background: rgba(217, 23, 16) !important; outline-color: rgba(217, 23, 16, 0.3) !important">Deaktiviraj profil</button>
      </div>
    </form>
  </div>
</div>
