<h2>Korisnici za validaciju:</h2>

<div id="unvalidatedUsers" *ngIf="usersToValidate != null && usersToValidate != []">
  <tr *ngFor="let user of usersToValidate; let i = index">
    <td>{{i+1}}. </td>
    <td>
      {{user.UserName}}
    </td>
    <td>
      {{user.UserType}}
    </td>
    <td>
      <button type="button" (click)="onValidateClick(i)">Validiraj</button>
    </td>
  </tr>
</div>

<div id="userToValidate" *ngIf="userToValidate != null && userToValidate != undefined">
  <h3>User to validate</h3>
  <label>Username: {{userToValidate.Username}}</label><br/>
  <label>Tip korisnika: {{userToValidate.UserType}}</label><br/>
  <label>Slika dokumenta: </label>
  <img [src]="imageToValidate" style="max-width: 200px; max-height: 200px;" class="btn-md img-fluid img-thumbnail"/><br/>
  <br/>
  <label>Reason: </label>
  <form [formGroup]="reasonForm">
    <input type="text" formControlName="reason" />
    <button type="input" (click)="onValidateUser('Prihvacen')" [disabled]= "userToValidate.IsVerified === 'Prihvacen'">Prihvati</button>
    <button type="input" (click)="onValidateUser('Odbijen')">Odbij</button>
  </form>

</div>