<div class="container">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
      <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" routerLink="/redVoznje"><span>Red voznje</span></a></li>
          <li class="nav-item"><a class="nav-link" href="#">Mreza linija</a></li>
          <li class="nav-item"><a class="nav-link" href="#"><span>Trenutne lokacije vozila</span></a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/cenovnik">Cenovnik</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Kupi kartu</a></li>
      </ul>
      <ul class="navbar-nav ml-auto mr-1">
        <li class="nav-item"><a class="nav-link" href="#">Prijava</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Registracija</a></li>
      </ul>
  </nav>
<router-outlet></router-outlet>
</div>