<div class="form">
    <div class="col-7">
    <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
      <h2>Izmeni lozinku</h2>
      <div class="form-group">
          <input type="password" formControlName="oldPassword" placeholder="Old Password" required class="form-control" />
          <div *ngIf="f.oldPassword.invalid && (f.oldPassword.dirty || f.oldPassword.touched)" class="alert alert-danger">
              <ng-container *ngIf="f.oldPassword.errors.required">
                Unesite trenutnu lozinku.
              </ng-container>
              <ng-container *ngIf="f.oldPassword.errors.minlength">
                <p>Lozinka mora sadrzati bar 6 karaktera.</p>
              </ng-container>
              <ng-container *ngIf="f.oldPassword.errors.pattern">
                  <p>Lozinka mora sadrzati bar jedan broj[0-9], jedan specijalan karakter i bar jedno veliko slovo[A-Z].</p>
              </ng-container>
            </div>
          <input type="password" formControlName="password" placeholder="Password" required class="form-control">
          <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="alert alert-danger">
            <ng-container *ngIf="f.password.errors.required">
              Unesite novu lozinku.
            </ng-container>
            <ng-container *ngIf="f.password.errors.minlength">
              <p>Lozinka mora sadrzati bar 6 karaktera.</p>
            </ng-container>
            <ng-container *ngIf="f.password.errors.pattern">
                <p>Lozinka mora sadrzati bar jedan broj[0-9], jedan specijalan karakter i bar jedno veliko slovo[A-Z].</p>
            </ng-container>
          </div>
          <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" required class="form-control" />
          <div *ngIf="changePassForm.errors?.doesntMatch && (f.confirmPassword.dirty || f.confirmPassword.touched)" class="alert alert-danger">
            <p>Lozinke se ne poklapaju.</p>
          </div>
      </div>

      <div class="form-group">
          <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="changePassForm.invalid" style="background: rgba(217, 23, 16) !important; outline-color: rgba(217, 23, 16, 0.3) !important">Izmeni</button>
        </div>
      </form>
    </div>
</div>