<div class="container-fluid">
  <h3>Popunite cenu za svaku stavku</h3>
  <form #f="ngForm" autocomplete="off" (ngSubmit)="napraviCenovnik(f.value, f)">

    <label>Vremenska</label>
    <input type="number" class="form-control" name="Vremenska" ngModel required/>
    
    <label>Dnevna</label>
    <input type="number" class="form-control" name="Dnevna" ngModel required/>
    
    <label>Mesecna</label>
    <input type="number" class="form-control" name="Mesecna" ngModel required/>
    
    <label>Godisnja</label>
    <input type="number" class="form-control" name="Godisnja" ngModel required/>

    <label style="margin-top: 12px; margin-left: 55px">Datum do kojeg ce trajati:</label>
    <input type="date" id="dateOfBirth" name="Do" class="form-control" style="margin-left: 20px; width: 250px" ngModel required />
    
    <button type="submit" class="btn btn-primary btn-block" [disabled]="f.invalid">Napravi cenovnik</button>
  </form>
</div>