<!-- <div class="container">
  <form class="form-group">
      <label class="mr-sm-2">Vrsta karte:</label>
      <select class="form-control mr-sm-5">
          <option></option>
      </select>
  </form>
</div> -->
<div class="container">
  <h2 class="alert alert-danger mt-5" *ngIf="!role && (tipKarte !== 'Vremenska' || tipPopusta !== 'Regular')">Neregistrovani korisnik moze da kupi samo regularnu vremenku kartu!</h2>
  <!-- <form *ngIf="!role && tipKarte === 'Vremenska' && tipPopusta === 'Regularna'">   -->
  <form [formGroup]="emailForm">
    <div class="form-group" *ngIf="!role && tipKarte === 'Vremenska' && tipPopusta === 'Regular'">
        <label> Unestie email adresu na koju zelite da stigne karta:</label>
        <input formControlName="email" required class="form-control"  type="text" id="email">
        <div *ngIf="f.email.invalid && f.email.touched" class="alert alert-danger">
            <div *ngIf="f.email.errors.required">
                <p>Email is required.</p>
            </div>
            <div *ngIf="f.email.errors.email">
                <p>Please enter valid email address.</p>
            </div>
        </div>
        <button [disabled]="emailForm.invalid" (click)="kupiKartu()" class="btn btn-primary">Kupi</button>
      </div>
    </form>
  <!-- </form> -->
  <div *ngIf = "role">
      <h3>Podaci o karti:</h3>
      <label class="alert alert-inforamtion">Tip karte:{{tipKarte}}</label>
      <label class="alert alert-inforamtion">Tip popusta:{{tipPopusta}}</label>
      <label class="alert alert-inforamtion">Cena karte:{{cena}}</label>
      <button (click)="potvrdiKupovinu()" class="btn btn-primary">Potvrdi kupovinu</button>
  </div>
</div>
